<a href="https://colab.research.google.com/github/Yagomorais/devweekgit.github.io/blob/main/module_1_exercise_(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [1]:
print("Olá Mundo")

Olá Mundo

Crie uma célua de texto e adicione uma imagem.

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [18]:
sqv_19 = 3
tkt_19 = 320.52

A = tkt_19 * sqv_19
print (A)

961.56

In [25]:
      sqv_20 = 834.47
      tkt_20 = 119.21
      
      B = sqv_20 / tkt_20
      print (B)

7.000000000000001

In [27]:
svv_23 = 15378.12
sqv_23 = 5

tkt = svv_23 / sqv_23
print (tkt)

3075.6240000000003

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [28]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

In [30]:
#maiúsculo: string.upper()
print(cancao.upper())

RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.

In [32]:
#capitalize: string.capitalize
(print(cancao.capitalize()))

Roda mundo, roda gigante, roda moinho, roda pião.

In [58]:
# posição: string.find(substring)
posição= cancao.find('moinho')
print(posição)

31

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [ ]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

In [72]:
selic = 2,75
print(type(selic))

<class 'tuple'>

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True

x = not a & b